<%include ./partials/header.ejs %>

<div class="container">
    <img class="pic" src="/Assests/Images/MyPic.jpg"/>
    <h1>
        NIKESH PATEL
    </h1>
    <p><h4>
        A student of Sofware Engineering, studying as an International Student in Centennial College.<br/>Wanted
        to be a proficient computer engineering candidate pursuing an essential position with an IT company, which ultimately 
        provides an opportunity to utilize the personal skills, as well as company’s productivity.
    </h4></p>
    <br/>

     <a class="btn btn-primary button" href="https://www.linkedin.com/in/nikesh-patel-460238a0/" role="button">LinkedIn</a>
     <a class="btn btn-primary button" href="https://github.com/pnikesh" role="button">GitHub</a>
     <a class="btn btn-primary button" href="/Assests/NikeshPatel_Resume.pdf" role="button">Resume</a>



</div>



<%include ./partials/footer.ejs %>

