<%include ./partials/header.ejs %>

<!--contents goes here-->
<div class="container">
  <br />
  <img class="piclogo " src="/Assests/Images/Nik.jpg" /> <br />
  <h1>Welcome to Nikesh Patel's Portfolio</h1>
  <h5>"Seeking works so that I can be proud of what I have accomplished."</h5>

  <a class="btn btn-primary button" href="/about" role="button">About Me</a>
</div>

<%include ./partials/footer.ejs %>
