<!-- 
 view/project.ejs
 Nikesh Patel
 300970071
Feb 16, 2019 -->
<%include ./partials/header.ejs %>
<section class="projectTile">
  <div style="text-align: center">
    <div class="tile">
      <img class="project1" src="/Assests/Images/icon.png" />
      <p class="para">
        An online food ordering android mobile application, having wide
        collection of food verities and user friendly interface with pictures
        and ingrediants of recipe. I was UI designer for this mobile app.
      </p>
    </div>
  </div>
</section>
<section>
  <div style="text-align: center">
    <div class="tile">
      <img class="project2" src="/Assests/Images/HomePage.jpeg"/>
      <p class="para">
        Website that provide platform to students for buying or shelling used
        books without any delivery chagers, because of C2C delivery process. I was project manager for this project. We
        have used C#.NET MVC stucture. We also had published this project on AWS.
      </p>
    </div>
  </div>
</section>
<section>
  <div class="prjectTile">
    <div style="text-align: center">
      <div class="tile">
        <img class="project2" src="/Assests/Images/AutoSoft.jpg"/>
        <p class="para">
          Website that provides realtime data monitoring of different kind of
          meter readings at global level in an interactive and intelligent
          manner such that user can access those readings at any remote place
          and at any time. I was system analyst for this project.
        </p>
      </div>
    </div>
  </div>
</section>
<%include ./partials/footer.ejs %>
