<!-- 
 view/service.ejs
 Nikesh Patel
 300970071
Feb 16, 2019 -->
<%include ./partials/header.ejs %>

<div class="row" style="padding-top: 20px">
  <div class="col-lg-4 text-center">
    <img class="serviceImg" src="/Assests/Images/android.jpg" />
    <h3>Android Application Development</h3>
  </div>
  <div class="col-lg-4 text-center">
    <img class="serviceImg" src="/Assests/Images/dotnet.png" />
    <h3>.NET Development</h3>
  </div>
  <div class="col-lg-4 text-center">
    <img class="serviceImg" src="/Assests/Images/mysql.png" />
    <h3>MySQL Database</h3>
  </div>
</div>
<br />
<!--<div class="line"></div>-->
<br />
<div class="row">
  <div class="col-lg-4 text-center">
    <img class="serviceImg" src="/Assests/Images/visio.jpg" />
    <h3>Microsoft Visio</h3>
  </div>
  <div class="col-lg-4 text-center">
    <img class="serviceImg" src="/Assests/Images/laravel.jpg" />
    <h3>Laravel Framework</h3>
  </div>
  <div class="col-lg-4 text-center">
    <img class="serviceImg" src="/Assests/Images/node.png" />
    <h3>Node JS</h3>
  </div>
</div>

<%include ./partials/footer.ejs %>
