/*custom CSS goes here*/
html,
body {
  background-image: url(/public/Assests/images/backgroung.jpg);
  background-color: gainsboro;
  font-family: "Lucida Sans", sans-serif;
}

.container {
  width: auto;
  text-align: center;
  font-family: "Lucida Sans";
  align-content: center;
  margin-top: 100px;
}

.pic {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.piclogo {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 20px;
}

h4 {
  justify-content: flex-start, flex-end;
  font-size: 20px;
}

.button {
  background-color: black;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.logo {
  width: 75px;
  height: 40px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.tile {
  height: auto;
  align-content: center;

  margin-top: 25px;
  box-shadow: 3px 3px 2px 3px #6982f0;
  border-radius: 2px;
}
.tile:hover {
  box-shadow: 3px 3px 2px 3px rgba(66, 13, 212, 0.959),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.project1 {
  height: 200px;
  width: 200px;
}

.project2 {
  text-align: center;
  border-radius: 5px;
  height: 500px;
  width: 700px;
}

.para {
  font-family: "Lucida Sans";
  margin-top: 5px;
  text-align: center;
}

.projectTile {
  align-content: center;
}
.prjctSec {
  width: auto;
  text-align: center;
  font-family: "Lucida Sans";
  align-content: center;
  margin-top: 100px;
}
